<form>
        <h2>Edit Atributo</h2>
    <div *ngIf="attribute" class="container balance">
      <div class="row">
            <div class="col-md-2" ></div>
          <div class="col-md-2" >
              <label>Atributo</label>
            </div>
            <div class="col-md-4">
              <input [(ngModel)]="attribute.attribute" type="text" class="form-control" name="attribute">
            </div>
            <div class="col-md-4">
                
            </div>
      </div>

      <div class="row">
            <div class="col-md-2" ></div>
          <div class="col-md-2" >
            
            </div>
            <div class="col-md-4">
              <input type="checkbox" [checked]="attribute.visible" (change)="attribute.visible = !attribute.visible" name="visible">
              <label>Visivel</label>
            </div>
            <div class="col-md-4">
                  
            </div>
      </div>
        
      <div *ngIf="attribute.visible" class="row">
            <div class="col-md-2" ></div>
          <div class="col-md-2" >
              <label>Titulo</label>
          </div>
          <div class="col-md-4">
              <input [(ngModel)]="attribute.title" type="text" class="form-control" name="title">

          </div>
          <div class="col-md-4">
                
          </div>
      </div>
        
      <div *ngIf="attribute.visible" class="row">
            <div class="col-md-2" ></div>
          <div class="col-md-2">
              <label>Alinhamento</label>
          </div>
          <div class="col-md-4">
              <input type="radio" [checked]="attribute.alignment == 0" (change)="attribute.alignment = $event.target.value" name="alignment" value="0">
              <label>a Esquerda</label><br>

              <input type="radio" [checked]="attribute.alignment == 1" (change)="attribute.alignment = $event.target.value" name="alignment" value="1">
              <label>a Esquerda</label><br>

              <input type="radio" [checked]="attribute.alignment == 2" (change)="attribute.alignment = $event.target.value" name="alignment" value="2">
              <label>a Esquerda</label><br>
          </div>
          <div class="col-md-4">
              
          </div>
      </div>

      <div class="row">
            <div class="col-md-2" ></div>
          <div class="col-md-2" >
              <label>Formula</label>
          </div>
          <div class="col-md-4">
              <input [(ngModel)]="attribute.formula" type="text" class="form-control" name="formula">

          </div>
          <div class="col-md-4">
              <a routerLink="/attributewizard" class="balance">Wizard</a>
          </div>
      </div>

      <div class="row">
            <div class="col-md-2" ></div>
          <div class="col-md-2" >
              <label>Tipo de Retorno</label>
          </div>
          <div class="col-md-4">
              <input type="radio" [checked]="attribute.kind_return == 0" (change)="attribute.kind_return = $event.target.value" name="kind_return" value="0">
              <label>Sim/Nao</label><br>

              <input type="radio" [checked]="attribute.kind_return == 1" (change)="attribute.kind_return = $event.target.value" name="kind_return" value="1">
              <label>Texto</label><br>

          </div>
          <div class="col-md-4">
              
          </div>
      </div>
      <div *ngIf="attribute.kind_return == 1" class="row">
            <div class="col-md-2" ></div>
          <div class="col-md-2" >
              <label>Retorno</label>
          </div>
          <div class="col-md-4">
              <input [(ngModel)]="attribute.return" type="text" class="form-control" name="return">
          </div>
          <div class="col-md-4">
              
          </div>
      </div>
      <div class="row">
            <div class="col-md-4" ></div>
            <div class="col-md-8">
                <button (click)="save()" class="btn btn-primary">OK</button>
                <button (click)="goBack()" class="btn btn-primary">Cancel</button>
            </div>
      </div>
        
        
  </div>
</form>

