<form>
    <h2>Novo Atributo</h2>
    <div class="container balance">
      <div class="row">
            <div class="col-md-2" ></div>
          <div class="col-md-2" >
              <label>Atributo</label>
            </div>
            <div class="col-md-4">
              <input [(ngModel)]="model.attribute" #attribute="ngModel" type="text" class="form-control" name="attribute">
            </div>
            <div class="col-md-4">
                
            </div>
      </div>

      <div class="row">
            <div class="col-md-2" ></div>
          <div class="col-md-2" >
            
            </div>
            <div class="col-md-4">
              <input type="checkbox" [checked]="model.visible" (change)="model.visible = !model.visible" name="visible">
              <label>Visivel</label>
            </div>
            <div class="col-md-4">
                  
            </div>
      </div>
        
      <div *ngIf="model.visible" class="row">
            <div class="col-md-2" ></div>
          <div class="col-md-2" >
              <label>Titulo</label>
          </div>
          <div class="col-md-4">
              <input [(ngModel)]="model.title" type="text" class="form-control" name="title">

          </div>
          <div class="col-md-4">
                
          </div>
      </div>
        
      <div *ngIf="model.visible" class="row">
            <div class="col-md-2" ></div>
          <div class="col-md-2" >
              <label>Alinhamento</label>
          </div>
          <div class="col-md-4">
              <input type="radio" [checked]="model.alignment == 0" (change)="model.alignment = $event.target.value" name="alignment" value="0">
              <label>a Esquerda</label><br>

              <input type="radio" [checked]="model.alignment == 1" (change)="model.alignment = $event.target.value" name="alignment" value="1">
              <label>a Esquerda</label><br>

              <input type="radio" [checked]="model.alignment == 2" (change)="model.alignment = $event.target.value" name="alignment" value="2">
              <label>a Esquerda</label><br>
          </div>
          <div class="col-md-4">
              
          </div>
      </div>

      <div class="row">
            <div class="col-md-2" ></div>
          <div class="col-md-2" >
              <label>Formula</label>
          </div>
          <div class="col-md-4">
              <input [(ngModel)]="model.formula" type="text" class="form-control" name="formula">

          </div>
          <div class="col-md-4">
              <a routerLink="/attributewizard">Wizard</a>
          </div>
      </div>

      <div class="row">
            <div class="col-md-2" ></div>
          <div class="col-md-2" >
              <label>Tipo de Retorno</label>
          </div>
          <div class="col-md-4">
              <input type="radio" [checked]="model.kind_return == 0" (change)="model.kind_return = $event.target.value" name="kind_return" value="0">
              <label>Sim/Nao</label><br>

              <input type="radio" [checked]="model.kind_return == 1" (change)="model.kind_return = $event.target.value" name="kind_return" value="1">
              <label>Texto</label><br>

          </div>
          <div class="col-md-4">
              
          </div>
      </div>
      <div *ngIf="model.kind_return == 1" class="row">
            <div class="col-md-2" ></div>
          <div class="col-md-2" >
              <label>Retorno</label>
          </div>
          <div class="col-md-4">
              <input [(ngModel)]="model.return" type="text" class="form-control" name="return">
          </div>
          <div class="col-md-4">
              
          </div>
      </div>
      <div class="row">
            <div class="col-md-4" ></div>
            <div class="col-md-8">
                <button (click)="add()" class="btn btn-primary">OK</button>
                <button (click)="goBack()" class="btn btn-primary">Cancel</button>
            </div>
      </div>
        
        
  </div>
</form>

