
<div class="container">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Atributo</th>
            <th scope="col">Titulo</th>
            <th scope="col">Visivel</th>
            <th scope="col">Alinhamento</th>
            <th scope="col">Formula</th>
            <th scope="col">Tp Retono</th>
            <th scope="col">Retono</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attribute of attributes">
            <td scope="row">
              <a routerLink="/attributes/{{attribute.id}}" class='balance'>Edit</a>
              <a href="javascript:void(0);" (click)="del(attribute)" class='balance'>Del</a>
            </td>
            <td>{{attribute.attribute}}</td>
            <td>{{attribute.title}}</td>
            <td>{{attribute.visible}}</td>
            <td>{{attribute.alignment}}</td>
            <td>{{attribute.formula}}</td>
            <td>{{attribute.kind_return}}</td>
            <td>{{attribute.return}}</td>
          </tr>
          
        </tbody>
      </table>
          <a routerLink="/attributeadd" class="balance">Novo Atributo</a>
      
      <!-- <app-attribute-edit [attribute]="selectedAttribute"></app-attribute-edit> -->
</div>
