// nav {
//     background: #2D2E2E;
//     height: 100%;

//     ul {
//         list-style-type: none;
//         padding: 0;
//         margin: 0;

//         li {

//             a {
//                 color: #fff;
//                 padding: 20px;
//                 display: block;
//             }

//             .activated {
//                 background-color: #00a8ff;
//             }
//         }
//     }
    
// }
nav {
    background: rgb(52, 159, 212);
    height: 70px;
    text-align: center;

    a{
        color: white;
        padding:20px;
    }
}
